In [1]:
for N in range(0,20):
    print(N)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
#print range 10-20

for N in range (10,20):
    print(N,end=" ")

10 11 12 13 14 15 16 17 18 19

In [10]:
#using len

list=[12,23,34,45,5,6,677,88,9]
print("Number of items in the list=",len(list))

Number of items in the list= 9

In [28]:
s='ARTIFICIAL INTELLIGENCE'
len(s)
for i in range (len(s)):
    print(s[i])

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [10]:
name ,age, profession="ANTO",28,"M.Sc Maths"
print("Name= ",name,
      "Age =",age,
      "Profession =",profession)

Name=  ANTO Age = 28 Profession = M.Sc Maths

In [11]:
name ,age, profession="ANTO",28,"M.Sc Maths"
print("Name= ",name)
print("Age =",age)
print("Profession =",profession)

Name=  ANTO
Age = 28
Profession = M.Sc Maths

In [17]:
def personal_details():
    name, age ,profession= "ANTO", 28 ,"M.Sc Mathematics"
    print("Name: {}\nAge: {}\nProfession: {}".format(name, age, profession))

personal_details()

Name: ANTO
Age: 28
Profession: M.Sc Mathematics

In [19]:
tuple1= 1 , "WELCOME"
tuple2= 2 , "HOPE"
print(tuple1+tuple2)

(1, 'WELCOME', 2, 'HOPE')

In [21]:
tuple1= (0,1,2,3)
tuple2= ("PYTHON" , "HOPE")
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('PYTHON', 'HOPE'))

In [31]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if num % 2 !=0:
        print(num, end= " " " is odd number , ")

19  is odd number , 25  is odd number , 1  is odd number ,

In [32]:
 list=[20,10,16,19,25,1,276,188]
for num in list:
    if num % 2 ==0:
        print(num, end= " " " is even number , ")

20  is even number , 10  is even number , 16  is even number , 276  is even number , 188  is even number ,